<ion-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="login-logo-inicio">
    <img src="assets/img/logo_f1.png" alt="Sica App logo">
    <p id="titulo_login">Reestablecer contraseña</p>
  </div>

  
    <ion-list lines="none">

      <ion-item>
        <ion-icon slot="start" name="key"></ion-icon>
        <!-- <ion-label position="stacked" >Contraseña</ion-label> -->
        <ion-input [(ngModel)]="password" name="pass" type="text" #pass="ngModel" placeholder="Contraseña" required>
        </ion-input>
      </ion-item>
      <ion-card class="msg-error">
        <p [hidden]="pass.valid || submitted == false" class="ion-padding-start">
          Contraseña requerida
        </p>
      </ion-card>

      <ion-item>
        <ion-icon slot="start" name="alert"></ion-icon>
        <!-- <ion-label position="stacked" >Repetir Contraseña</ion-label> -->
        <ion-input [(ngModel)]="password_rt" name="passwordrt" type="text" #passwordrt="ngModel" placeholder="Repetir contraseña" required>
        </ion-input>
      </ion-item>
      <ion-card class="msg-error">
        <p [hidden]="passwordrt.valid || submitted == false" class="ion-padding-start">
          Repetir contraseña
        </p>
        <p [hidden]="password_rt == password || submitted == false" class="ion-padding-start">
          No coinciden las contraseñas ingresadas
        </p>
      </ion-card>


    </ion-list>

    <ion-input id="boton_login" (click)="reestablecer()" type="submit" value="Cambiar" expand="block" text-center></ion-input>
    

    
  
</ion-content>
